
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');
body {
    background-color : rgb(0, 0, 0);
}

.main-image{

    margin-top: 45px;
    margin-left: 250px;

}
.main{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.main-card-login{
    
    height: 100%;
}
.login-card{
    background-color: rgb(0, 0, 0);
    border:1px solid rgb(54, 54, 54);
    margin-left: 20px;
    margin-top: 60px;
    height: 50%;
}
.login-card-header-image{
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 50px;
    margin-bottom: 20px;
}
.login-card-form{
    padding-left: 30px;
    padding-right: 20px;
}
input[type="text"],
input[type="password"]{
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: center;
    align-items: center;
    align-content: center;
    background-color: rgb(18, 18, 18);
    border:1px solid rgb(54, 54, 54);
    width: 90%;
    font-size: 13px;
    font-weight: lighter;
    border-radius: 3px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px;
    margin-right: 20px;
}

.login-form-button{
    background-color: #0095F6;
    color: #FFF;
    border-radius: 5px;
    border: 0px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    padding: 0.5em;
    width: 95%;
    margin-top: 10px;
    margin-left: 5px;
    font-weight: bold;
}
.login-or-first-separation,
.login-or-last-separation{
    width:40%;
    border: 1px solid rgb(18, 18, 18);
}
.login-or{
    margin-top: 20px;
    color: #8E8E8E;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 13px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}
#message-erreur {
    display: none; 
    color: rgb(237, 73, 86);
    color-scheme: dark;
    direction: ltr;
    font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-size: 14px;
    font-size-adjust: none;
    font-stretch: 100%;
    font-style: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-emoji: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-variation-settings: normal;
    font-weight: 400;
    height: 36px;
    line-height: 18px;
    margin-bottom: 10px;
 
    margin-top: 10px;
    overflow-wrap: break-word;
    text-align: center;
    text-size-adjust: 100%;
    text-wrap-mode: wrap;
    unicode-bidi: isolate;
    white-space-collapse: preserve-breaks;
    width: 268px;
    word-break: break-word;
  }
.login-with-facebook{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 20px;
    font-family: sans-serif;
    color: rgb(0, 149, 246);
    font-size: 14px;
    font-weight: 550;
}
.facebook-icon{
    font-size: 15px;
}

.forgot-password{
    font-size: 12px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    font-weight: 500;
    color: white;
    margin-top: -5px;
    margin-bottom: 10px;
}
.contenu-illegal {
    color: rgb(168, 168, 168);
    color-scheme: dark;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    height: 64px;
    line-height: 1.5;
    margin: 0;
    width: 275px;
    margin-bottom: 20px;
}
.login-card-footer{
    background-color:rgb(0, 0, 0);
    color: white;
    border:1px solid rgb(54, 54, 54);
    padding: 1.5em;
    margin-left: 20px;
    margin-top: 10px;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 15px;
}

.login-card-footer span{
    font-weight: 500;
    color: #0095F6;
}

.download-app{
    margin-top: 15px;
    font-family: sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.download-app-buttons{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.download-app-buttons img{
    margin-left: 5px;
}